.title{
	position: absolute;
	width: auto;
	right: 0;
	height: auto;
	font-family: PT Serif;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
	transform: rotate(90deg);
}

figure:nth-child(even) { 
	padding-top: 30rem !important;
}